@font-face {
   font-family: 'futurarener.regular';
   font-display: swap;
   src: url('futurarener.regular/font.ttf');
}
@font-face {
   font-family: 'Honoka-Shin-Maru-Gothic_R';
   font-display: swap;
   src: url('Honoka-Shin-Maru-Gothic_R/font.ttf');
}
