@font-face {
   font-family: 'futurarener.regular';
   font-display: swap;
   src: url('file:///C:/Users/refia/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-02_200526/fonts/futurarener.regular/font.ttf');
}
